.card.border-info
  .card-body
    h4.card-title.text-info Download .eml
    p.card-text 電子メール形式のファイル(.eml)をダウンロードします。
    .text-right.my-3
      a.btn.btn-info(href='#{download_url}', role='button') Download
