.card.border-info
  h4.card-header Usage
  .card-body
    h5.card-title
      a(href='/issues/1') /issues/1
    p.card-text チケット#1の内容を電子メール形式(.eml)でダウンロードできるフォームを表示します。

    h5.card-title
      a(href='/issues/1/download') /issues/1/download
    p.card-text チケット#1の内容を電子メール形式(.eml)でダウンロードします。
